.admin {
  .ui.column.grid > [class*="four wide"].column,
  .ui.grid > .column.row > [class*="four wide"].column,
  .ui.grid > .row > [class*="four wide"].column,
  .ui.grid > [class*="four wide"].column {
    width: auto !important;
  }

  .ui.column.grid > [class*="twelve wide"].column,
  .ui.grid > .column.row > [class*="twelve wide"].column,
  .ui.grid > .row > [class*="twelve wide"].column,
  .ui.grid > [class*="twelve wide"].column {
    width: unset !important;
    flex: 1 1 auto !important;
    > div {
      border: none !important;
      padding: 0 !important;
      margin: 0 !important;
      background: none !important;
    }
  }
}
