.job-edit {
  .grow {
    div {
      border: 1px solid #aaa;
      padding: 3px;
    }
  }
  .publish {
    width: 276px;
    @media only screen and (max-width: 767px) {
      margin: 0 auto;
    }
  }
}
